<form id="{{id}}" method="{{method}}">
  <div id="error_msg_wrapper"><span id="error_msg"></span></div>
  <div class="form_input_group">
  {{#each inputs}}
    {{{this}}}
  {{/each}}
  <button class="btn_submit">{{submitBtnText}}</button>
  </div>
</form>
