.form_input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_help_section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form_help_section a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #276678;
    text-decoration: none;
}

.form_help_section a:visited {
    color: #276678;
}

#register_link #password_recover_link {
    display: inline-block;
    width: 100%;
}

.btn_submit {
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background: #276678;
    color: #d3e0ea;
    border: 0px;
    cursor: pointer;
}

.btn_submit:hover {
    background-color: #1687a7;
    color:#f6f5f5;
}

.form_input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_help_section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form_help_section a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #276678;
    text-decoration: none;
}

.form_help_section a:visited {
    color: #276678;
}

#error_msg_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.form_input_group .input__container {
    margin-top: 20px;
}

#error_msg {
    text-align: center;
    font-family: 'Inter';
    max-width: 100%;
    height: 22px;
    font-size: 18px;
    color: #e90064;
}

#register_link #password_recover_link {
    display: inline-block;
    width: 100%;
}

.btn_submit {
    font-family: 'Inter';
    font-size: 24px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background: #276678;
    color: #d3e0ea;
    border: 0px;
}

@media (max-width: 1199px) {
    /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
    /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
    /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
    #error_msg_wrapper {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .form_help_section a {
        font-size: 14px;
    }

    .btn_submit {
        width: 150px;
        font-size: 20px;
    }
}
