.createBoard__form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
    background: #fff;
}

.createBoard__header {
    font-family: 'Inter';
    font-size: 2vw;
    color: #276678;
    text-align: center;
}
.createBoard_error {
    font-family: 'Inter';
    font-size: 18px;
    height: 20px;
    color: #d8564e;
    text-align: center;
    margin: 0px;
}

.createBoard__input_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.createBoard__button {
    font-family: 'Inter';
    font-size: 1em;
    color: #d3e0ea;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100px;
    height: 4vh;

    margin-left: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;

    border: 2px solid #1687a7;
    border-radius: 10px;
    background-color: #1687a7;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createBoard__button:hover{
    background-color: #276678;
}
.createBoard__button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
    .createBoard__form {
        width: 50vw;
        right: 18vw;
    }
    .createBoard__header {
        font-size: 3vh;
    }
}

@media (max-width: 1199px) {
    .createBoard__header {
        font-size: 3vh;
    }
}
@media (max-width: 600px) {
    .createBoard__form {
        width: 80vw;
        right: 10vw;
    }
    .createBoard__header {
        font-size: 3vh;
    }
}
