.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1100;
}

.modal__content {
    border-radius: 20px;
    background: #fff;
    padding: 20px;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
}
