.profile__tab-buttons {
    display: inline;
}

.profile__tab-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__tab-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.profile__tab-btn,
.profile__tab-btn-active {
    user-select: none;
    font-family: 'Inter';
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: #1687a7;
    background: #f6f5f5;
    padding: 5px 10px;
}

.profile__tab-btn-active {
    color: #f6f5f5;
    background: #1687a7;
}

.profile__creation-btn {
    border: none;
    cursor: pointer;
    margin: 0px;
    background: none;
}

.profile__creation-btn-icon {
    background: #1687a7;
    color: #f6f5f5;
    border-radius: 5px;
}

.profile__tab-content {
    margin-top: 30px;
}

@media (max-width: 430px) {
    .profile__tab-buttons {
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .profile__tab-buttons::-webkit-scrollbar {
        display: none;
    }
}
