<div id="header">
<div id="header_search_wrapper">
  {{{input}}}
  <button id="pin_creation_btn"><span class="material-symbols-outlined md-40">add</span></button>
</div>
<div id="user_block">
  <button class="header_btn">
    <span class="material-symbols-outlined md-32">notifications</span>
  </button>
  <button class="header_btn">
    <span class="material-symbols-outlined md-32">chat</span>
  </button>
  <img id="header_avatar" /> 
  <span id="header_username">
    {{username}}
  </span>
</div>
</div>
