.chatPage__main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.chatPage__container{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 5px solid #D9D9D9;
    border-radius: 3%;
    flex-direction: column;
}
.chatPage__container__header{
    display: flex;
    flex-direction: row;    
    height: 15%;
    margin-top: 1vh;
}
.chatPage__container__header__avatar{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    
}
.chatPage__container__header__text{
    font-family: 'Inter';
    font-size: 3vh;
    font-weight: bold;
    color: #276678;
    display: table-cell;
    vertical-align: middle;
}
.chatPage__container__messages{
    height: 70%;
    width: 80%;
    background-color:white;
    margin-bottom: 1vh;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 100%;
    overflow-y: scroll;
}
.chatPage__container__messages__my_message{
    height: auto;
    font-family: 'Inter';
    font-size: 2vh;
    color:#276678;
    margin-right: 2vw;
    margin-left: 5vw;
    text-align: right;
    margin-bottom: 1vh;

}
.chatPage__container__messages__other_message{
    height: auto;
    font-family: 'Inter';
    font-size: 2vh;
    color:#1687A7;
    margin-right: 5vw;
    margin-left: 2vw;
    text-align: left;
    margin-bottom: 1vh;

}
.chatPage__container__input{
    display: flex;
    flex-direction: row ;
    height: 5%;
    margin-bottom: 1vh;
    width: 80%;
}
.chatPage__container__input__text{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid #1687A7;
    outline: none;
    align-items: center;

    font-family: Inter;
    font-size: 1vh;
    font-weight:lighter;
    color: #1687A7;
    
    max-width: 100%;
    max-height: 100%;

    font-family: 'Inter';
    font-size: 1vw;
    color: #276678;
}
.chatPage__container__input__btn{
    padding: 5px 5px;
    margin-left: 5px;
    background: #1687A7;
    color: #D3E0EA;
    border: none;
    
    cursor: pointer;
    border-radius: 5px;
}
.chatPage__container__input__btn :active{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 2);
}

