.chatList__main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chatList__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}
.chatList__header__text {
    font-family: 'Inter';
    font-size: 5vh;
    font-weight: bold;
    color: #276678;
}
.chatList__companion {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1vh;
    background-color: #d9d9d9;
    border: 5px solid #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    overflow: hidden;
}

.chatList__companion:hover {
    -webkit-filter: brightness(80%);
    cursor: pointer;
}

.chatList__companion__avatar {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    object-fit: cover;
    border-radius: 5px;
}
.chatList__companion__last_message {
    display: table;
    margin-left: 1vw;
}
.chatList__companion__last_message__text {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Inter';
    color: #1687a7;
    font-size: 25px;
    text-align: left;
}
