.profile__container {
    margin-top: 50px;
    padding: 0 10px;
    width: 70vw;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .profile__container {
        width: 75vw;
    }
}

@media (max-width: 899x) {
    .profile__container {
        width: 85vw;
    }
}

@media (max-width: 600px) {
    .profile__container {
        width: calc(100% - 20px);
    }
}
