.profile__container {
    margin-top: 50px;
    padding: 0 10px;
    width: 70vw;
    margin: 0 auto;
}

.profile__pin-creation-btn {
    color: var(--color-primary);
    font-family: Inter;
    font-size: 32px;
    border: 2px solid var(--color-primary);
    background: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.profile__board-creation-btn {
    height: 300px;
    color: var(--color-primary);
    font-family: Inter;
    font-size: 32px;
    border: 2px solid var(--color-primary);
    background: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.profile__board-creation-btn::after,
.profile__pin-creation-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.2s ease;
}

.profile__board-creation-btn:hover::after,
.profile__pin-creation-btn:hover::after {
    opacity: 1;
}

@media (max-width: 1199px) {
    .profile__container {
        width: 75vw;
    }
}

@media (max-width: 899x) {
    .profile__container {
        width: 85vw;
    }
}

@media (max-width: 600px) {
    .profile__container {
        width: calc(100% - 20px);
    }

    .profile__board-creation-btn {
        font-size: 22px;
    }

    .profile__board-creation-btn {
        height: 150px;
    }
}
