input[name='search'] {
    margin-top: 0;
    background: #f6f5f5;
    width: 90%;
    height: 50px;
    border: 2px solid #1687a7;
    border-radius: 15px;
}

.input__icon-container {
    width: 100%;
}

.input__custom {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 17px;
    width: 400px;
    border: 0px;
    color: #276678;
    padding: 0px 10px;
    height: 50px;
    background: #f6f5f5;
    border: 1px solid #1687A7;
    border-radius: 15px;
    display: block;
}

.input__custom::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 17px;
}

.input__container {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__icon {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 20px;
    color: #276678;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__has_icon {
    padding-left: 40px;
}

