.input__custom {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    margin-top: 20px;
    width: 400px;
    border: 0px;
    color: #276678;
    padding: 0px 10px;
    height: 50px;
    background: #d3e0ea;
    border-radius: 15px;
}

.input__custom::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
}
