.users-list {
    display: grid;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
}

.users-list__item {
    font-family: 'Inter';
    border: 2px solid #1687a7;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: auto;
    padding: 5px 10px;
    align-items: baseline;
    justify-content: space-between;
}

.users-list__item-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
}

.users-list__item-name {
    height: fit-content;
    font-size: 22px;
}

.user-list__btn {
    border: none;
    width: 48%;
    padding: 5px 0;
    background: var(--color-secondary);
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 5px;
}

.user-list__btn.active {
    background: var(--color-primary);
    color: var(--color-light);
}
.user-list__btn:hover {
    background-color: #aaa;
}

.users-list__btn-container {
    width: 50%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 767px) {
    .users-list {
        grid-template-columns: repeat(auto-fill, 400px);
    }
}

@media (max-width: 575px) {
    .users-list {
        grid-template-columns: repeat(auto-fill, 200px);
    }

    .user-list__btn {
        font-size: 16px;
    }

    .users-list__item {
        flex-direction: column;
        font-size: 18px;
    }

    .users-list__btn-container {
        width: 100%;
    }

    .users-list__user-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
