.pin-view {
    width: 60vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: white;
    border-radius: 20px;
    margin: 20px auto 80px;
}

.back-btn {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--color-dark);
    background: var(--color-light);
}

.back-btn:hover {
    background: var(--color-secondary);
}

.pin-view__content {
    width: 100%;
    border-radius: 20px;
    height: auto;
    min-height: 700px;
    position: relative;
    background: white;
    display: grid;
    grid-template-columns: auto 30vw;
}

.pin-view__img-wrapper {
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.pin-view__actions-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.pin-view__image {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
}

.pin-view__info {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    padding: 0px 32px;
    overflow-y: auto;
}

.pin-view__content > .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 75%;
    right: 0;
    margin: auto 0;
}

.pin-view__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    padding-top: 28px;
    background: #fff;
}

.pin-view__actions-more-btn {
    align-content: center;
    color: #276678;
    background: white;
    border: none;
    margin-right: 50px;
    padding: 0;
    cursor: pointer;
}

.pin-view__actions-share-btn {
    color: #276678;
    background: white;
    align-content: center;
    border: none;
    margin-right: 28px;
    padding: 0;
    cursor: pointer;
}

.pin-view__actions-like-btn {
    color: #276678;
    background: white;
    align-content: center;
    border: none;
    margin-right: 9px;
    padding: 0;
    cursor: pointer;
}

.pin-view__actions-stat {
    margin: 0 31px 0 0;
    color: #276678;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    width: 5%;
}

.pin-view__actions-save-btn {
    color: #e8e8e8;
    background: #1687a7;
    height: 1.5em;
    width: 30%;
    border-radius: 0.25em;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
.pin-view__actions-save-btn:hover {
    background-color: #276678;
}

.pin-view__board-list {
    border: none;
    font-family: 'Inter';
    font-size: 1em;
    outline: 0;
    border: 0;
    box-shadow: none;
    height: 1.6em;
    border-radius: 7px;
    width: 40%;
    color: #1687a7;
    background-color: #d3e0ea;
    cursor: pointer;
}

.pin-view__title {
    margin-top: 25px;
    margin-bottom: 0;
    color: #141414;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.pin-view__description {
    margin-top: 20px;
    margin-bottom: 0;
    color: #141414;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.pin-view__author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    margin-top: 50px;
}
.pin-view__author-avatar-img {
    width: 100%;
    height: 100%;
    max-height: 45px;
    max-width: 45px;
    min-height: 30px;
    min-width: 30px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 10%;
}

.pin-view__author-name {
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
}

.pin-view__author-subscribe-btn {
    margin-left: auto;
    height: 3em;
    width: 6em;
    color: #3c3b3b;
    background: #d3e0ea;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.pin-view__comments-header {
    margin-top: 28px;
    margin-bottom: 0;
    text-align: left;
    color: #141414;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.pin-view__response-container {
    font-family: 'Inter';
    color: #1687a7;
    background: white;
    margin: 0 5px;
    transition: height 0.3s ease-out;
    height: 0px;
    overflow: hidden;
}

.pin-view__follow-btn {
    width: 40%;
    background: #1687a7;
    color: #d3e0ea;
    font-weight: bold;
    font-family: 'Inter';
    font-size: 20px;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

.pin-view__follow-btn.active {
    color: #1687a7;
    background: #d3e0ea;
}

@media (max-width: 1199px) {
    .pin-view__content > .loader {
        display: none;
    }

    .pin-view__info {
        width: 636px;
    }

    .pin-view__img-wrapper {
        border-radius: 20px;
    }

    .pin-view {
        width: 700px;
    }

    .pin-view__content {
        width: 700px;
        display: flex;
        flex-direction: column;
    }

    .pin-view__info {
        position: relative;
        left: 0;
        height: 65vh;
    }

    .pin-view__image {
        width: 700px;
        border-radius: 20px;
    }
}

@media (max-width: 991px) {
    .pin-view__info {
        width: 436px;
    }

    .pin-view__follow-btn {
        width: 50%;
    }

    .pin-view__content,
    .pin-view {
        width: 500px;
    }

    .pin-view__image {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .back-btn {
        display: none !important;
        overflow: hidden;
    }

    .pin-view__info {
        width: 336px;
    }

    .pin-view,
    .pin-view__content {
        width: 400px;
    }

    .pin-view__image {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .pin-view__info {
        width: 286px;
    }

    .pin-view,
    .pin-view__content {
        width: 350px;
    }

    .pin-view__image {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .pin-view__info {
        width: 236px;
    }

    .pin-view,
    .pin-view__content {
        width: 300px;
    }

    .pin-view__image {
        width: 300px;
    }
}
