
.wrapper {
  padding: 0px;
  display: flex;
  flex-direction: row;
  background: #F6F5F5;
}

.section_logo {
  height: 100vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(255,255,255, 0.7) 0 100%), url("/static/img/loginimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



.form_wrapper {
  display: flex;
  flex-direction: column;
}

.section_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 67vw;
  background: #F6F5F5;
}

.header__login {
  font-family: 'Inter';
  color: #276678;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logo_span {
  font-family: 'Inter';
  color: #276678;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}
