<div class='card {{cardSize}}'>
    <div class='pin_title'>{{title}}</div>

    <div class='pin_modal'>
        <div class='modal_head'>
            <div class='save_card'>Save</div>
        </div>

        <div class='modal_foot'>
          <button class="pin_icon_btn material-symbols-outlined md-24">
              share
          </button>
          <img src='https://forum.golangbridge.org/uploads/default/original/2X/0/03cbc1a9f9178055093eb0c25ba9df2c29611671.jpg' alt='' class='pin_author_avatar' />
          <button class="pin_icon_btn material-symbols-outlined md-24">
              more_horiz
          </button>
        </div>
    </div>
    <img class='pin_image' src='{{mediaSrc}}' alt='abc' srcset='' />
</div>
