<div class='card {{cardSize}}' style='opacity: 1;'>
    <div class='pin_title'>{{title}}</div>

    <div class='pin_modal'>
        <div class='modal_head'>
            <div class='save_card'>Save</div>
        </div>

        <div class='modal_foot'>
                <span class='material-icons'>
                    share
                </span>

                <img src='../images/fox.png' alt='send' class='pint_mock_icon' />

            <span class='material-icons pint_mock_icon'>
                add
            </span>
        </div>
    </div>
    <img class='pin_image' src='{{mediaSrc}}' alt='' srcset='' />
</div>