<div class="sidebar">
  <div id="sidebar_logo_container">
    <img id="sidebar_logo" src="/static/img/Logo2.svg"/>
  </div>
  <div class='menu__box'>
    {{#each menu_items}}
          <span  class='menu__item'>
            <a href='{{link}}' class="material-icons md-32 menu__link"> {{name}} </a>
          </span>
    {{/each}}
  </div>
  <button class="material-icons md-32" id="logout_btn">
    logout 
  </button>
</div>

