.comment__author-img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-right: 5px;
}

.comment {
    font-family: Inter;
    font-size: 18px;
    color: var(--color-dark);
    margin-bottom: 30px;
    display: flex;
    align-items: start;
}

.comment__author {
    display: flex;

    align-items: baseline;
}

.comment__author-name {
    text-align: left;
    font-weight: bold;
}

.comment__date .comment__text {
    text-align: left;
    max-inline-size: 80%;
    overflow-wrap: break-word;
}

.comment__date {
    text-align: left;
    font-size: 16px;
    color: #7c8184;
    margin-left: 5px;
}

.comment__header {
    display: flex;
    justify-content: start;
    align-items: baseline;
}
