.board-creation-popup {
    font-family: Inter;
    font-size: 18px;
    color: var(--color-dark);
    text-align: center;
}

.board-creation-popup__content {
    width: auto;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    color: var(--color-primary);
}

.board-creation-popup__footer {
    display: flex;
    justify-content: end;
}

.board-creation-popup__btn {
    margin-left: 10px;
    border: none;
    font-family: Inter;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.navigate-btn {
    background: var(--color-primary);
    color: var(--color-light);
}

.close-btn {
    background: var(--color-secondary);
    color: var(--color-primary);
}

.board-creation-popup__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.2s ease;
}

.board-creation-popup__btn:hover::after {
    opacity: 1;
}

.board-creation-popup.active {
    top: 150px;
}
