/* menu { */
/*     z-index: 1000; */
/*     height: 0; */
/* } */

.menu {
    z-index: 1001;
    left: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    margin: 0;
    height: 100%;
    background-color: #d3e0ea;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    padding-inline-start: 0px;
}

.menu__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__item {
    font-weight: 600;
    display: block;
    padding: calc(16px + 5%) 0px;
    color: #d3e0ea;
    text-align: center;
    background-color: #1687a7;
}

.menu__link {
    color: #d3e0ea;
    text-decoration: none;
}

.menu__link:visited {
    display: block;
    padding: calc(16px + 5%) 0px;
    text-align: center;
    text-decoration: none;
}

.menu__loguout-btn {
    border: none;
    cursor: pointer;
    background-color: #1687a7;
    color: #d3e0ea;
    padding: calc(16px + 5%) 0px;
}

.menu__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu__logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
}
