.menu {
    z-index: 100;
    left: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin: 0;
    height: 100%;
    background-color: #d3e0ea;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    padding-inline-start: 0px;
}

.menu__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__item:nth-child(2) {
    display: none;
}

.menu__item:nth-child(3) {
    display: none;
}

.menu__item:nth-child(6) {
    display: none;
}

.menu__item {
    font-weight: 600;
    display: block;
    padding: calc(16px + 5%) 0px;
    color: #d3e0ea;
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
    background-color: #1687a7;
    cursor: pointer;
}

.menu__item:hover {
    background-color: #276678;
}

.menu__link {
    color: #d3e0ea;
    text-decoration: none;
}

.menu__link:visited {
    display: block;
    padding: calc(16px + 5%) 0px;
    text-align: center;
    text-decoration: none;
}

.menu__loguout-btn {
    border: none;
    cursor: pointer;
    background-color: #1687a7;
    transition: background-color 0.2s ease;
    color: #d3e0ea;
    padding: calc(16px + 5%) 0px;
}

.menu__loguout-btn:hover {
    background-color: #276678;
}

.menu__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu__logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

@media (max-width: 600px) {
    .menu__item:hover {
        background: var(--color-primary);
    }

    .main__content {
        margin-bottom: 65px;
    }

    .menu {
        bottom: 0px !important;
        flex-direction: row;
        width: 100%;
        height: 55px;
        justify-content: center;
        background-color: #1687a7;
    }

    .menu__logo {
        display: none;
    }

    .menu__box {
        flex-direction: row;
    }
    .menu__loguout-btn {
        display: none !important;
    }

    .menu__item {
        padding: 0px;
        display: flex;
        align-items: center;
    }

    .menu__item > a {
        font-size: 24px !important;
    }
    .menu__box {
        width: 70%;
        justify-content: space-evenly;
    }

    .menu__item:nth-child(2) {
        display: flex;
    }

    .menu__item:nth-child(3) {
        display: flex;
    }

    .menu__item:nth-child(6) {
        display: flex;
    }
}
