.header {
    position: fixed;
    left: 100px;
    width: calc(100vw - 100px);
    height: 80px;
    background-color: #f6f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header__btn {
    color: #1687a7;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    background-color: inherit;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.header__search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
}

.header__username {
    font-family: 'Inter';
    font-size: 22px;
    color: #1687a7;
}

.header__user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

@media (max-width: 600px) {
    .header {
        width: 100%;
        height: 65px;
        background-color: #f6f5f5;
        display: flex;
        left: 0;
        padding: 0px;
        justify-content: space-between;
    }

    .header__avatar {
        display: none;
    }

    .header__btn {
        margin-right: 0px;
        padding: 0px;
    }

    .header__user-block {
        margin-right: 0px;
    }

    .header__search-wrapper {
        width: 85%;
    }

    .header__btn:nth-child(2) {
        display: none;
    }
    .header__btn > span {
        font-size: 40px !important;
    }
}
