.header {
    height: 80px;
    background-color: #f6f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 110px;
}

.header__btn {
    color: #1687a7;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    background-color: inherit;
    border-radius: 20%;
}

.header__btn:hover {
    fill: black;
}
.icon:hover {
    font-variation-settings: 'FILL' 1;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}

.header__search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-around;
}

.header__username {
    font-family: 'Inter';
    font-size: 22px;
    color: #1687a7;
}

.header__user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__unauthorized-block {
    display: flex;
    width: 20%;
    justify-content: end;
}

.header__unauthorized-block > button {
    font-family: Inter;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    height: 50px;
    width: 48%;
}

.header__unauthorized-block > button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.2s ease;
}

.header__unauthorized-block > button:hover::after {
    opacity: 1;
}

.header__search-block {
    width: 100%;
    display: flex;
}

.header__login-btn {
    color: var(--color-secondary);
    background: var(--color-primary);
    margin-right: 5px;
}

.header__signup-btn {
    background: var(--color-secondary);
    color: var(--color-dark);
}

.header__creation-btn {
    border: none;
    margin: 0px;
    background: none;
    width: 50px;
    height: 50px;
}

.header__creation-btn-icon {
    cursor: pointer;
    border: none;
    background: #1687a7;
    color: #f6f5f5;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.header__creation-btn-icon:hover {
    background: var(--color-dark);
}

.header__creation-block {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.header__notification-block {
    width: 32px;
    height: 50px;
    margin-right: 20px;
}

.header__notification-block > .header__btn {
    width: 32px;
    height: 50px;

    display: flex;
    align-items: center;
}

.header__notification-block::after {
    content: '';
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-primary);
    position: relative;
    border: 2px solid var(--color-light);
    bottom: 33px;
    left: 21px;
}

.header__notification-block.has-unread::after {
    display: block;
}

.header__action-list-wrapper {
    -webkit-box-shadow: 0px 5px 8px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 8px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 8px 3px rgba(34, 60, 80, 0.2);
    position: relative;
    right: 80px;
    top: 10px;
    display: none;
    width: 190px;
}

.header__notification-list-wrapper.active {
    display: block;
}

.header__notification-list-wrapper {
    -webkit-box-shadow: 0px 5px 8px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 8px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 8px 3px rgba(34, 60, 80, 0.2);
    position: absolute;
    right: 50px;
    top: 80px;
    display: none;
    border-radius: 10px;
}

.header__action-list-wrapper.active {
    display: block;
}

@media (max-width: 1199px) {
    .header__unauthorized-block {
        width: 40%;
    }
}

@media (max-width: 899px) {
    .header__unauthorized-block {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .header__creation-btn-icon:hover {
        background: inherit;
    }

    .header {
        width: 100%;
        height: 65px;
        background-color: #f6f5f5;
        display: flex;
        left: 0;
        padding: 0px;
        justify-content: space-between;
    }

    .header__avatar {
        display: none;
    }

    .header__creation-block {
        display: none;
    }

    .header__unauthorized-block {
        display: none;
    }

    .header__btn {
        margin-right: 0px;
        padding: 0px;
    }

    .header__user-block {
        margin-right: 0px;
    }

    .header__search-wrapper {
        width: 95%;
    }

    .header__btn:nth-child(2) {
        display: none;
    }

    .header__btn > span {
        font-size: 40px !important;
    }

    .header__notification-block {
        margin-right: 10px;
    }

    .login-modal__header {
        font-size: 25px;
    }
}
