#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: relative;
    font-size: 16px;
    background-color: #f6f5f5;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
}

.material-symbols-outlined.md-24 {
    font-size: 24px;
}

.material-symbols-outlined.md-32 {
    font-size: 32px;
}

.material-symbols-outlined.md-40 {
    font-size: 40px;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
}

.material-symbols-outlined.active {
    font-variation-settings: 'FILL' 1;
}

#error_msg_wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

#error_msg {
    font-family: 'Inter';
    max-width: 100%;
    font-size: 18px;
    color: #e90064;
}

#app {
    position: absolute;
    top: 80px;
    left: 100px;
    width: calc(100% - 100px);
    padding: 0px;
    background-color: #f6f5f5;
}

.main__content {
    font-size: 20px;
    text-align: center;
}

/* Login */

.wrapper {
    padding: 0px;
    display: flex;
    flex-direction: row;
    background: #f6f5f5;
}

.section_logo {
    height: 100vh;
    width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
}

.section_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 67vw;
    background: #f6f5f5;
}

.header__login {
    font-family: 'Inter';
    color: #276678;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_span {
    font-family: 'Inter';
    color: #276678;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

@media (max-width: 600px) {
    #app {
        top: 80px;
        left: 0px;
        width: 100%;
    }
}
